# existing
# RUN SKIP_ENV_CHECK=true NEXT_PUBLIC_VIEWER_URL=http://localhost bunx turbo build --filter="${SCOPE}"

# replace with:
ARG SCOPE
ARG TURBO_FILTER
RUN SKIP_ENV_CHECK=true NEXT_PUBLIC_VIEWER_URL=http://localhost \
  bunx turbo build --filter="${TURBO_FILTER}"
